*.bak
*.csv
*.html*
*.ini
*.json
*.log
*.pdf
*.wiki*
HISTORY
OLD
QScript
TESTS
UPLOAD
actors
cookies.txt
debug.txt
doc
final_dinoex
gems.txt
htmls
hold*
numbered-qscript.txt
media
out.*
project
project.old
qscript.txt
subs.*
sync.sh
roles.*
test.*
