*.bak
*.csv
*.html*
*.ini
*.json
*.log
*.pdf
*.wiki*
HISTORY
OLD
QScript
TESTS
UPLOAD
actors
cookies.txt
debug.txt
doc
final_dinoex
gems.txt
htmls
numbered-qscript.txt
media
project
project.old
qscript.txt
hold*
out.*
subs.*
test.*
